*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

@property --positionX {
  syntax: "<length>";
  inherits: true;
  initial-value: 50vw;
}
@property --positionY {
  syntax: "<length>";
  inherits: true;
  initial-value: 50vh;
}
.header {
  --positionX: 50vw;
  --positionY: 50vh;
  position: fixed;
  background: radial-gradient(circle at var(--positionX) var(--positionY), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 10vw, rgba(255, 255, 255, 0.2) 20vw);
  border: solid rgba(255, 255, 255, 0.2) 0.3px;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  transition: all 0.1s ease;
  transition-property: --positionY, --positionX;
  top: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: max(10vh, 6rem);
  width: calc(100vw - 2rem);
  z-index: 254;
}

.content {
  transform-style: preserve-3d;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #181818;
}

.follow {
  --positionX: 50vw;
  --positionY: 50vh;
}

.toffeeWrapper {
  --positionX: 50vw;
  --positionY: 50vh;
  position: fixed;
  perspective: 100px;
  perspective-origin: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.toffeeWrapper {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.toffeeWrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.cell-header {
  position: absolute;
  width: 5vw;
  height: 5vh;
  border: 1px solid gray;
  transform-style: flat;
  z-index: 255;
  display: block;
  transition: 0.3s;
}

.cell-header:nth-child(20n+1) {
  left: 0vw;
}

.cell-header:nth-child(n+1):nth-child(-n+20) {
  top: 0vh;
}

.cell-header:nth-child(20n+1):hover ~ .toffeeWrapper {
  --positionX: 2.5vw;
}

.cell-header:nth-child(20n+1):hover ~ .follow {
  --positionX: 2.5vw;
}

.cell-header:nth-child(20n+1):hover ~ .header {
  --positionX: 2.5vw;
}

.cell-header:nth-child(n+1):nth-child(-n+20):hover ~ .toffeeWrapper {
  --positionY: 2.5vh;
}

.cell-header:nth-child(n+1):nth-child(-n+20):hover ~ .follow {
  --positionY: 2.5vh;
}

.cell-header:nth-child(n+1):nth-child(-n+20):hover ~ .header {
  --positionY: 2.5vh;
}

.cell-header:nth-child(20n+2) {
  left: 5vw;
}

.cell-header:nth-child(n+21):nth-child(-n+40) {
  top: 5vh;
}

.cell-header:nth-child(20n+2):hover ~ .toffeeWrapper {
  --positionX: 7.5vw;
}

.cell-header:nth-child(20n+2):hover ~ .follow {
  --positionX: 7.5vw;
}

.cell-header:nth-child(20n+2):hover ~ .header {
  --positionX: 7.5vw;
}

.cell-header:nth-child(n+21):nth-child(-n+40):hover ~ .toffeeWrapper {
  --positionY: 7.5vh;
}

.cell-header:nth-child(n+21):nth-child(-n+40):hover ~ .follow {
  --positionY: 7.5vh;
}

.cell-header:nth-child(n+21):nth-child(-n+40):hover ~ .header {
  --positionY: 7.5vh;
}

.cell-header:nth-child(20n+3) {
  left: 10vw;
}

.cell-header:nth-child(n+41):nth-child(-n+60) {
  top: 10vh;
}

.cell-header:nth-child(20n+3):hover ~ .toffeeWrapper {
  --positionX: 12.5vw;
}

.cell-header:nth-child(20n+3):hover ~ .follow {
  --positionX: 12.5vw;
}

.cell-header:nth-child(20n+3):hover ~ .header {
  --positionX: 12.5vw;
}

.cell-header:nth-child(n+41):nth-child(-n+60):hover ~ .toffeeWrapper {
  --positionY: 12.5vh;
}

.cell-header:nth-child(n+41):nth-child(-n+60):hover ~ .follow {
  --positionY: 12.5vh;
}

.cell-header:nth-child(n+41):nth-child(-n+60):hover ~ .header {
  --positionY: 12.5vh;
}

.cell-header:nth-child(20n+4) {
  left: 15vw;
}

.cell-header:nth-child(n+61):nth-child(-n+80) {
  top: 15vh;
}

.cell-header:nth-child(20n+4):hover ~ .toffeeWrapper {
  --positionX: 17.5vw;
}

.cell-header:nth-child(20n+4):hover ~ .follow {
  --positionX: 17.5vw;
}

.cell-header:nth-child(20n+4):hover ~ .header {
  --positionX: 17.5vw;
}

.cell-header:nth-child(n+61):nth-child(-n+80):hover ~ .toffeeWrapper {
  --positionY: 17.5vh;
}

.cell-header:nth-child(n+61):nth-child(-n+80):hover ~ .follow {
  --positionY: 17.5vh;
}

.cell-header:nth-child(n+61):nth-child(-n+80):hover ~ .header {
  --positionY: 17.5vh;
}

.cell-header:nth-child(20n+5) {
  left: 20vw;
}

.cell-header:nth-child(n+81):nth-child(-n+100) {
  top: 20vh;
}

.cell-header:nth-child(20n+5):hover ~ .toffeeWrapper {
  --positionX: 22.5vw;
}

.cell-header:nth-child(20n+5):hover ~ .follow {
  --positionX: 22.5vw;
}

.cell-header:nth-child(20n+5):hover ~ .header {
  --positionX: 22.5vw;
}

.cell-header:nth-child(n+81):nth-child(-n+100):hover ~ .toffeeWrapper {
  --positionY: 22.5vh;
}

.cell-header:nth-child(n+81):nth-child(-n+100):hover ~ .follow {
  --positionY: 22.5vh;
}

.cell-header:nth-child(n+81):nth-child(-n+100):hover ~ .header {
  --positionY: 22.5vh;
}

.cell-header:nth-child(20n+6) {
  left: 25vw;
}

.cell-header:nth-child(n+101):nth-child(-n+120) {
  top: 25vh;
}

.cell-header:nth-child(20n+6):hover ~ .toffeeWrapper {
  --positionX: 27.5vw;
}

.cell-header:nth-child(20n+6):hover ~ .follow {
  --positionX: 27.5vw;
}

.cell-header:nth-child(20n+6):hover ~ .header {
  --positionX: 27.5vw;
}

.cell-header:nth-child(n+101):nth-child(-n+120):hover ~ .toffeeWrapper {
  --positionY: 27.5vh;
}

.cell-header:nth-child(n+101):nth-child(-n+120):hover ~ .follow {
  --positionY: 27.5vh;
}

.cell-header:nth-child(n+101):nth-child(-n+120):hover ~ .header {
  --positionY: 27.5vh;
}

.cell-header:nth-child(20n+7) {
  left: 30vw;
}

.cell-header:nth-child(n+121):nth-child(-n+140) {
  top: 30vh;
}

.cell-header:nth-child(20n+7):hover ~ .toffeeWrapper {
  --positionX: 32.5vw;
}

.cell-header:nth-child(20n+7):hover ~ .follow {
  --positionX: 32.5vw;
}

.cell-header:nth-child(20n+7):hover ~ .header {
  --positionX: 32.5vw;
}

.cell-header:nth-child(n+121):nth-child(-n+140):hover ~ .toffeeWrapper {
  --positionY: 32.5vh;
}

.cell-header:nth-child(n+121):nth-child(-n+140):hover ~ .follow {
  --positionY: 32.5vh;
}

.cell-header:nth-child(n+121):nth-child(-n+140):hover ~ .header {
  --positionY: 32.5vh;
}

.cell-header:nth-child(20n+8) {
  left: 35vw;
}

.cell-header:nth-child(n+141):nth-child(-n+160) {
  top: 35vh;
}

.cell-header:nth-child(20n+8):hover ~ .toffeeWrapper {
  --positionX: 37.5vw;
}

.cell-header:nth-child(20n+8):hover ~ .follow {
  --positionX: 37.5vw;
}

.cell-header:nth-child(20n+8):hover ~ .header {
  --positionX: 37.5vw;
}

.cell-header:nth-child(n+141):nth-child(-n+160):hover ~ .toffeeWrapper {
  --positionY: 37.5vh;
}

.cell-header:nth-child(n+141):nth-child(-n+160):hover ~ .follow {
  --positionY: 37.5vh;
}

.cell-header:nth-child(n+141):nth-child(-n+160):hover ~ .header {
  --positionY: 37.5vh;
}

.cell-header:nth-child(20n+9) {
  left: 40vw;
}

.cell-header:nth-child(n+161):nth-child(-n+180) {
  top: 40vh;
}

.cell-header:nth-child(20n+9):hover ~ .toffeeWrapper {
  --positionX: 42.5vw;
}

.cell-header:nth-child(20n+9):hover ~ .follow {
  --positionX: 42.5vw;
}

.cell-header:nth-child(20n+9):hover ~ .header {
  --positionX: 42.5vw;
}

.cell-header:nth-child(n+161):nth-child(-n+180):hover ~ .toffeeWrapper {
  --positionY: 42.5vh;
}

.cell-header:nth-child(n+161):nth-child(-n+180):hover ~ .follow {
  --positionY: 42.5vh;
}

.cell-header:nth-child(n+161):nth-child(-n+180):hover ~ .header {
  --positionY: 42.5vh;
}

.cell-header:nth-child(20n+10) {
  left: 45vw;
}

.cell-header:nth-child(n+181):nth-child(-n+200) {
  top: 45vh;
}

.cell-header:nth-child(20n+10):hover ~ .toffeeWrapper {
  --positionX: 47.5vw;
}

.cell-header:nth-child(20n+10):hover ~ .follow {
  --positionX: 47.5vw;
}

.cell-header:nth-child(20n+10):hover ~ .header {
  --positionX: 47.5vw;
}

.cell-header:nth-child(n+181):nth-child(-n+200):hover ~ .toffeeWrapper {
  --positionY: 47.5vh;
}

.cell-header:nth-child(n+181):nth-child(-n+200):hover ~ .follow {
  --positionY: 47.5vh;
}

.cell-header:nth-child(n+181):nth-child(-n+200):hover ~ .header {
  --positionY: 47.5vh;
}

.cell-header:nth-child(20n+11) {
  left: 50vw;
}

.cell-header:nth-child(n+201):nth-child(-n+220) {
  top: 50vh;
}

.cell-header:nth-child(20n+11):hover ~ .toffeeWrapper {
  --positionX: 52.5vw;
}

.cell-header:nth-child(20n+11):hover ~ .follow {
  --positionX: 52.5vw;
}

.cell-header:nth-child(20n+11):hover ~ .header {
  --positionX: 52.5vw;
}

.cell-header:nth-child(n+201):nth-child(-n+220):hover ~ .toffeeWrapper {
  --positionY: 52.5vh;
}

.cell-header:nth-child(n+201):nth-child(-n+220):hover ~ .follow {
  --positionY: 52.5vh;
}

.cell-header:nth-child(n+201):nth-child(-n+220):hover ~ .header {
  --positionY: 52.5vh;
}

.cell-header:nth-child(20n+12) {
  left: 55vw;
}

.cell-header:nth-child(n+221):nth-child(-n+240) {
  top: 55vh;
}

.cell-header:nth-child(20n+12):hover ~ .toffeeWrapper {
  --positionX: 57.5vw;
}

.cell-header:nth-child(20n+12):hover ~ .follow {
  --positionX: 57.5vw;
}

.cell-header:nth-child(20n+12):hover ~ .header {
  --positionX: 57.5vw;
}

.cell-header:nth-child(n+221):nth-child(-n+240):hover ~ .toffeeWrapper {
  --positionY: 57.5vh;
}

.cell-header:nth-child(n+221):nth-child(-n+240):hover ~ .follow {
  --positionY: 57.5vh;
}

.cell-header:nth-child(n+221):nth-child(-n+240):hover ~ .header {
  --positionY: 57.5vh;
}

.cell-header:nth-child(20n+13) {
  left: 60vw;
}

.cell-header:nth-child(n+241):nth-child(-n+260) {
  top: 60vh;
}

.cell-header:nth-child(20n+13):hover ~ .toffeeWrapper {
  --positionX: 62.5vw;
}

.cell-header:nth-child(20n+13):hover ~ .follow {
  --positionX: 62.5vw;
}

.cell-header:nth-child(20n+13):hover ~ .header {
  --positionX: 62.5vw;
}

.cell-header:nth-child(n+241):nth-child(-n+260):hover ~ .toffeeWrapper {
  --positionY: 62.5vh;
}

.cell-header:nth-child(n+241):nth-child(-n+260):hover ~ .follow {
  --positionY: 62.5vh;
}

.cell-header:nth-child(n+241):nth-child(-n+260):hover ~ .header {
  --positionY: 62.5vh;
}

.cell-header:nth-child(20n+14) {
  left: 65vw;
}

.cell-header:nth-child(n+261):nth-child(-n+280) {
  top: 65vh;
}

.cell-header:nth-child(20n+14):hover ~ .toffeeWrapper {
  --positionX: 67.5vw;
}

.cell-header:nth-child(20n+14):hover ~ .follow {
  --positionX: 67.5vw;
}

.cell-header:nth-child(20n+14):hover ~ .header {
  --positionX: 67.5vw;
}

.cell-header:nth-child(n+261):nth-child(-n+280):hover ~ .toffeeWrapper {
  --positionY: 67.5vh;
}

.cell-header:nth-child(n+261):nth-child(-n+280):hover ~ .follow {
  --positionY: 67.5vh;
}

.cell-header:nth-child(n+261):nth-child(-n+280):hover ~ .header {
  --positionY: 67.5vh;
}

.cell-header:nth-child(20n+15) {
  left: 70vw;
}

.cell-header:nth-child(n+281):nth-child(-n+300) {
  top: 70vh;
}

.cell-header:nth-child(20n+15):hover ~ .toffeeWrapper {
  --positionX: 72.5vw;
}

.cell-header:nth-child(20n+15):hover ~ .follow {
  --positionX: 72.5vw;
}

.cell-header:nth-child(20n+15):hover ~ .header {
  --positionX: 72.5vw;
}

.cell-header:nth-child(n+281):nth-child(-n+300):hover ~ .toffeeWrapper {
  --positionY: 72.5vh;
}

.cell-header:nth-child(n+281):nth-child(-n+300):hover ~ .follow {
  --positionY: 72.5vh;
}

.cell-header:nth-child(n+281):nth-child(-n+300):hover ~ .header {
  --positionY: 72.5vh;
}

.cell-header:nth-child(20n+16) {
  left: 75vw;
}

.cell-header:nth-child(n+301):nth-child(-n+320) {
  top: 75vh;
}

.cell-header:nth-child(20n+16):hover ~ .toffeeWrapper {
  --positionX: 77.5vw;
}

.cell-header:nth-child(20n+16):hover ~ .follow {
  --positionX: 77.5vw;
}

.cell-header:nth-child(20n+16):hover ~ .header {
  --positionX: 77.5vw;
}

.cell-header:nth-child(n+301):nth-child(-n+320):hover ~ .toffeeWrapper {
  --positionY: 77.5vh;
}

.cell-header:nth-child(n+301):nth-child(-n+320):hover ~ .follow {
  --positionY: 77.5vh;
}

.cell-header:nth-child(n+301):nth-child(-n+320):hover ~ .header {
  --positionY: 77.5vh;
}

.cell-header:nth-child(20n+17) {
  left: 80vw;
}

.cell-header:nth-child(n+321):nth-child(-n+340) {
  top: 80vh;
}

.cell-header:nth-child(20n+17):hover ~ .toffeeWrapper {
  --positionX: 82.5vw;
}

.cell-header:nth-child(20n+17):hover ~ .follow {
  --positionX: 82.5vw;
}

.cell-header:nth-child(20n+17):hover ~ .header {
  --positionX: 82.5vw;
}

.cell-header:nth-child(n+321):nth-child(-n+340):hover ~ .toffeeWrapper {
  --positionY: 82.5vh;
}

.cell-header:nth-child(n+321):nth-child(-n+340):hover ~ .follow {
  --positionY: 82.5vh;
}

.cell-header:nth-child(n+321):nth-child(-n+340):hover ~ .header {
  --positionY: 82.5vh;
}

.cell-header:nth-child(20n+18) {
  left: 85vw;
}

.cell-header:nth-child(n+341):nth-child(-n+360) {
  top: 85vh;
}

.cell-header:nth-child(20n+18):hover ~ .toffeeWrapper {
  --positionX: 87.5vw;
}

.cell-header:nth-child(20n+18):hover ~ .follow {
  --positionX: 87.5vw;
}

.cell-header:nth-child(20n+18):hover ~ .header {
  --positionX: 87.5vw;
}

.cell-header:nth-child(n+341):nth-child(-n+360):hover ~ .toffeeWrapper {
  --positionY: 87.5vh;
}

.cell-header:nth-child(n+341):nth-child(-n+360):hover ~ .follow {
  --positionY: 87.5vh;
}

.cell-header:nth-child(n+341):nth-child(-n+360):hover ~ .header {
  --positionY: 87.5vh;
}

.cell-header:nth-child(20n+19) {
  left: 90vw;
}

.cell-header:nth-child(n+361):nth-child(-n+380) {
  top: 90vh;
}

.cell-header:nth-child(20n+19):hover ~ .toffeeWrapper {
  --positionX: 92.5vw;
}

.cell-header:nth-child(20n+19):hover ~ .follow {
  --positionX: 92.5vw;
}

.cell-header:nth-child(20n+19):hover ~ .header {
  --positionX: 92.5vw;
}

.cell-header:nth-child(n+361):nth-child(-n+380):hover ~ .toffeeWrapper {
  --positionY: 92.5vh;
}

.cell-header:nth-child(n+361):nth-child(-n+380):hover ~ .follow {
  --positionY: 92.5vh;
}

.cell-header:nth-child(n+361):nth-child(-n+380):hover ~ .header {
  --positionY: 92.5vh;
}

.cell-header:nth-child(20n+20) {
  left: 95vw;
}

.cell-header:nth-child(n+381):nth-child(-n+400) {
  top: 95vh;
}

.cell-header:nth-child(20n+20):hover ~ .toffeeWrapper {
  --positionX: 97.5vw;
}

.cell-header:nth-child(20n+20):hover ~ .follow {
  --positionX: 97.5vw;
}

.cell-header:nth-child(20n+20):hover ~ .header {
  --positionX: 97.5vw;
}

.cell-header:nth-child(n+381):nth-child(-n+400):hover ~ .toffeeWrapper {
  --positionY: 97.5vh;
}

.cell-header:nth-child(n+381):nth-child(-n+400):hover ~ .follow {
  --positionY: 97.5vh;
}

.cell-header:nth-child(n+381):nth-child(-n+400):hover ~ .header {
  --positionY: 97.5vh;
}

.follow {
  top: var(--positionY);
  left: var(--positionX);
  background: white;
  position: fixed;
  transition: 0s;
  width: 10px;
  height: 10px;
}

.mountain {
  transform-style: preserve-3d;
}

.mountain_part {
  transform-style: preserve-3d;
  position: absolute;
  width: 110vw;
  left: -5vw;
  height: 100vh;
  border: 1px solid red;
}

.mountain_part:nth-child(n+0):nth-child(-n+0) {
  transform: scale(1.8) translateZ(-80px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain1.png");
}

.mountain_part:nth-child(n+1):nth-child(-n+1) {
  transform: scale(1.7) translateZ(-70px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain2.png");
}

.mountain_part:nth-child(n+2):nth-child(-n+2) {
  transform: scale(1.6) translateZ(-60px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain3.png");
}

.mountain_part:nth-child(n+3):nth-child(-n+3) {
  transform: scale(1.5) translateZ(-50px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain4.png");
}

.mountain_part:nth-child(n+4):nth-child(-n+4) {
  transform: scale(1.4) translateZ(-40px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain5.png");
}

.mountain_part:nth-child(n+5):nth-child(-n+5) {
  transform: scale(1.3) translateZ(-30px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain6.png");
}

.mountain_part:nth-child(n+6):nth-child(-n+6) {
  transform: scale(1.2) translateZ(-20px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain7.png");
}

.mountain_part:nth-child(n+7):nth-child(-n+7) {
  transform: scale(1.1) translateZ(-10px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain8.png");
}

.mountain_part:nth-child(n+8):nth-child(-n+8) {
  transform: scale(1) translateZ(0px);
  background-origin: padding-box;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./mountain9.png");
}

.annoyingly_long {
  height: 1000vh;
}

.section1 {
  position: relative;
  background: #780000;
  height: 70vh;
  top: 100vh;
}

/*# sourceMappingURL=scssTest.css.map */
